html {
  box-sizing: border-box;
  height: 100%;
}

body {

  background-color: rgb(245, 224, 106);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h2 {
  font-size: 1.1em;
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
   font-family: "PT Sans", sans-serif;
  font-weight: 800;
  font-style: bolder;
 


  
}


#foto {
 height: 600px;;
  border: #3d00fdb5 solid 5px;
  margin-top: 30px;
}

.tituloPrediccion {
  font-size: 2em;
    margin-bottom: 0;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;

;
}

.prediccion {
  font-size: 1.5em;
 font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
   font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #3d00fdb5;
  color: white;
  margin-bottom: 2em;
  cursor: pointer;
}
